
<section class="main-container">

  <div class="owl-background">
    <img src="/assets/hipster_owl.jpg">
  </div>

  <div class="circles">
    <div class="circle one none"></div>
    <div class="placeholder"></div>
    <div class="circle two none"></div>
    <div class="placeholder-2"></div>
    <div class="circle three none"></div>
  </div>

  <div class='oval-container centered none'>
    <div class="oval-thought">
      <table align="center" cellspacing="50px" class="order-table">
        <thead>
          <tr>
            <th class="list-name">Name</th>
            <th class="list-order">Order</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td class="order-name" data-status=""><%= order.name %></td>
              <td><%= order.order %> <%= order.coffee%></td>
              <td class="cancel-order" data-id="<%=order.id%>">Cancel</td>
            </tr>
          <% end %>
        <span class="new-order"><%= link_to 'New Order', new_order_path %></span>
        <span class="delete-all-order"><a>Delete All</a></span>
        </tbody>
      </table>
    </div>
  </div>

</section>




